<!DOCTYPE html>
<html>
	 <head>
		 <meta charset="utf-8"><title>Quiz</title>
		 <link rel='stylesheet' href='/stylesheets/style.css' />
	 </head>
	 <body>
		 <h2>Autores: Héctor Belló y Alejandro Docasar</h2>
		 <div id="fotos">
		 	<div id="hector">
		 		<img src="/images/hector.jpg">
		 	</div>
		 	<div id="doka">
		 		<img src="/images/doka.jpg">
		 	</div>
		 </div>
		 <a href="/"><button>Inicio</button></a>
	 </body>
</html>